* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e9dfd8;
  color: #251d1d;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

nav a {
  color: #251d1d;
  text-decoration: none;
}

header {
  font-size: 3rem;
}

.bio-text {
  font-size: 1.25rem;
  font-weight: lighter;
}

.bio-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #251d1d;
  margin: 2.5rem;
  padding: 1rem;
}

.bio-email {
  font-size: 1rem;
  font-weight: 700;
}

.bio-linkedin {
  width: 50px;
}
