* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e9dfd8;
  color: #251d1d;
  font-family: 'Roboto', sans-serif;
  /* padding: 1rem; */
  margin: 4rem;
  /* border: 5px solid black; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  /* min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  margin-top: 2.5rem; */
  font-size: 1.25rem;
  font-weight: bold;
  padding: 4rem;
  /* border: 5px solid red;
  background-color: pink; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

nav a {
  color: #251d1d;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 1rem;
}

.bio-container {
  /* min-height: 50vh; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  border: 5px solid black;
  /* background: pink; */
  /* padding: 2rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .bio-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  /* .bio-right {
    padding-bottom: 3rem;
  } */
}

.bio-left {
  /* border: 4px solid purple; */
  padding: 2rem;
  /* background: green; */
}

.bio-right {
  flex-basis: 500px;
  /* border: 4px solid purple; */
  padding: 0.5rem;
  /* background: green; */
}

.bio-right img {
  object-fit: cover;
  width: 100%;
  height: auto;
  /* height: fit-content; */
  /* height: auto; */
  /* width: 300px; */
}

.bio-header {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bio-text {
  font-size: 1.25rem;
  font-weight: lighter;
  padding-bottom: 4rem;
}

.bio-email {
  font-size: 1.25rem;
  font-weight: bolder;
  padding-bottom: 1.5rem;
}

.bio-linkedin {
  max-width: 50px;
}

.bio-linkedin:hover {
  background-color: #f7efe9;
}
